<mat-toolbar style="background-color: rgba(0, 128, 0, 0.9); color: white">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jackdah Daycare Center</span>
  <span class="example-spacer"></span>
  <nav>
    <a routerLink="/" class="mx-2 text-decoration-none text-white">Home</a>
    <a routerLink="/about" class="mx-2 text-decoration-none text-white">About</a>
    <a routerLink="/contacts" class="mx-2 text-decoration-none text-white">Contacts</a>
    <a routerLink="/gallery" class="mx-2 text-decoration-none text-white">Gallery</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>

